<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FNMainVC</key>
	<dict>
		<key>Page</key>
		<string>首页</string>
	</dict>
	<key>FNCateVC</key>
	<dict>
		<key>Page</key>
		<string>分类</string>
	</dict>
	<key>FNDetailVC</key>
	<dict>
		<key>Page</key>
		<string>商品详情</string>
	</dict>
	<key>FNSearchVC</key>
	<dict>
		<key>Page</key>
		<string>搜索</string>
	</dict>
	<key>FNSearchResultVC</key>
	<dict>
		<key>Page</key>
		<string>搜索结果</string>
	</dict>
	<key>FNBonusCashDetailVC</key>
	<dict>
		<key>Page</key>
		<string>积分兑出确认</string>
	</dict>
	<key>FNBonusCashVC</key>
	<dict>
		<key>Page</key>
		<string>积分兑出首页</string>
	</dict>
	<key>FNBonusCashWithMoblieVC</key>
	<dict>
		<key>Page</key>
		<string>积分兑出绑定帐号</string>
	</dict>
	<key>FNMyBonusDetailVC</key>
	<dict>
		<key>Page</key>
		<string>积分明细</string>
	</dict>
	<key>FNMyBonusVC</key>
	<dict>
		<key>Page</key>
		<string>我的积分</string>
	</dict>
	<key>FNBonusRechargeRecordVC</key>
	<dict>
		<key>Page</key>
		<string>充值记录</string>
	</dict>
	<key>FNBonusRechargeStatusVC</key>
	<dict>
		<key>Page</key>
		<string>积分充值结果</string>
	</dict>
	<key>FNBonusRechargeVC</key>
	<dict>
		<key>Page</key>
		<string>积分充值</string>
	</dict>
	<key>FNFillOrderVC</key>
	<dict>
		<key>Page</key>
		<string>填写订单</string>
	</dict>
	<key>FNCartVC</key>
	<dict>
		<key>Page</key>
		<string>购物车</string>
	</dict>
	<key>FNPayVC</key>
	<dict>
		<key>Page</key>
		<string>支付</string>
	</dict>
	<key>FNPayFinishVC</key>
	<dict>
		<key>Page</key>
		<string>支付完成</string>
	</dict>
	<key>FNCateProductListVC</key>
	<dict>
		<key>Page</key>
		<string>分类列表</string>
	</dict>
	<key>FNLoginVC</key>
	<dict>
		<key>Page</key>
		<string>登录</string>
	</dict>
	<key>FNBindMobileVC</key>
	<dict>
		<key>Page</key>
		<string>绑定手机号</string>
	</dict>
	<key>FNRegisterVC</key>
	<dict>
		<key>Page</key>
		<string>注册</string>
	</dict>
	<key>FNForgetPassVC</key>
	<dict>
		<key>Page</key>
		<string>忘记密码</string>
	</dict>
	<key>FNHopeVC</key>
	<dict>
		<key>Page</key>
		<string>积分互通介绍</string>
	</dict>
	<key>FNHebaoIntroVC</key>
	<dict>
		<key>Page</key>
		<string>移动和包介绍</string>
	</dict>
	<key>FNScanPayVC</key>
	<dict>
		<key>Page</key>
		<string>扫描支付</string>
	</dict>
	<key>FNScanVC</key>
	<dict>
		<key>Page</key>
		<string>扫描</string>
	</dict>
	<key>FNSellerVC</key>
	<dict>
		<key>Page</key>
		<string>商家商品列表</string>
	</dict>
	<key>FNAccessABVC</key>
	<dict>
		<key>Page</key>
		<string>通讯录未授权</string>
	</dict>
	<key>FNConfirmGetGoodsVC</key>
	<dict>
		<key>Page</key>
		<string></string>
	</dict>
	<key>FNMobileRechargeVC</key>
	<dict>
		<key>Page</key>
		<string>手机充值</string>
	</dict>
	<key>FNShipInfoVC</key>
	<dict>
		<key>Page</key>
		<string>物流信息</string>
	</dict>
	<key>FNOrderDetailVC</key>
	<dict>
		<key>Page</key>
		<string>订单详情</string>
	</dict>
	<key>FNOrderSendGoodsVC</key>
	<dict>
		<key>Page</key>
		<string>首页</string>
	</dict>
	<key>FNMyVC</key>
	<dict>
		<key>Page</key>
		<string>我的</string>
	</dict>
	<key>FNOrderVC</key>
	<dict>
		<key>Page</key>
		<string>订单中心</string>
	</dict>
	<key>FNMyHelpVC</key>
	<dict>
		<key>Page</key>
		<string>帮助中心</string>
	</dict>
	<key>FNQuestionVC</key>
	<dict>
		<key>Page</key>
		<string>常见问题</string>
	</dict>
	<key>FNManageAddressVC</key>
	<dict>
		<key>Page</key>
		<string>收货地址管理</string>
	</dict>
	<key>FNAddNewAddressVC</key>
	<dict>
		<key>Page</key>
		<string>收货地址</string>
	</dict>
	<key>FNMySetVC</key>
	<dict>
		<key>Page</key>
		<string>设置</string>
	</dict>
	<key>FNAlterPassWordVC</key>
	<dict>
		<key>Page</key>
		<string>修改密码</string>
	</dict>
	<key>FNAboutJShareVC</key>
	<dict>
		<key>Page</key>
		<string>关于</string>
	</dict>
	<key>FNPersonalVC</key>
	<dict>
		<key>Page</key>
		<string>个人资料</string>
	</dict>
	<key>FNSexVC</key>
	<dict>
		<key>Page</key>
		<string>性别修改</string>
	</dict>
	<key>FNNameVC</key>
	<dict>
		<key>Page</key>
		<string>修改昵称</string>
	</dict>
	<key>FNImagePickerController</key>
	<dict>
		<key>Page</key>
		<string>图片选择</string>
	</dict>
	<key>FNMessageCenterVC</key>
	<dict>
		<key>Page</key>
		<string>消息中心</string>
	</dict>
	<key>FNSystemVC</key>
	<dict>
		<key>Page</key>
		<string>系统消息</string>
	</dict>
	<key>FNActivityVC</key>
	<dict>
		<key>Page</key>
		<string>活动消息</string>
	</dict>
</dict>
</plist>
